.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width:  80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #023e8a;
    color: #caf0f8;
    text-align: center;
    padding: 2em;
    margin: 2em auto;
    border-radius: 1%;
    border: 4px solid #caf0f8;
}

.experience-list {
    margin: 0;
    padding: 0 ;
}

.experience-item {
    margin: 0;
    padding: 0;
    text-align: left;
    justify-content: center;
    list-style-position: inside;
}

.job-title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}