$clr-background:#161616; //#1D1128
$clr-text: #E5D4ED;
$clr-accent: #5941A9;
$clr-glow: rgba(229, 212, 237, 0.65);
$clr-glow-basic: rgba(229, 212, 237, 0.20);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: $clr-background;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 2em 1em;
    margin: 0 4em 0 4em;
}

.experience-title-div {
    font-size: 1.5rem;
    font-weight: bold;
    color: $clr-text;
    display: flex;
    place-items: center;
    align-items: center;
}

.experience-title {
    margin: auto;
}

.button-div {
    justify-content: space-between;
    display: flex;
    place-items: center;
    align-items: center;
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $clr-text;
    background-color: $clr-accent;
    padding: 0.5em 1.25em;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px $clr-glow-basic;
    transition: transform 0.5s ease;
}

.button:hover,
.button:focus { 
    transform: scale(1.05);
    box-shadow: 0 0 20px $clr-glow;
}

@media screen and (max-width: 600px) {
    .resume-header {
        flex-direction: column;
    }

    .experience-title-div {
        margin-bottom: 1rem;
    }

    .button-div {
        margin: auto;
    }
}